h1{
    margin-bottom:30px;
    colour:blue;
    
}
input{
    margin-right:10px;
    margin-bottom:20px;
    width:200;
    background-color: blueviolet;
    border:solid;
    font-weight: bold;
}
button{
    margin-bottom:20px;
    background-color: aquamarine;
    font-weight: bold;
}
hr{
    margin-bottom:15px;

}
body{
    background-color: darkseagreen;
}